*{
    margin: 0px auto;
    padding: 0px;
    color: #d7d7d8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}
header button{
    border: none;
    border-radius: 0px;
    margin: 0px;
    background-color: transparent;
    font-size: 15px;
}
button{
    color: none;
    border: 3px solid #A40610;
    font-size: 20px;
    border-radius: 70px;
    margin: 0px 16px;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
}
button:focus, button:active {
    outline: none;
}
header{
    width: 1170px;
    margin: 0px auto;
    padding-bottom: 0px;
}
header button:hover{
    border-radius: 0px;
    border-bottom: 2px solid #d7d7d8;
    padding-bottom: 10px;
}
nav{
    float: right;
    padding: 20px 0px 30px 0px;
}
nav li{
    display: inline-block;
    margin: 0px 25px;

}
div.clear{
    clear: both;
}
footer{
    background-color: #0B0E1A;
    text-align: left;
}
footer li{
    display: block;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    text-decoration: underline;
}
footer ul{
    padding: 0px;
    margin: 0px;

}
footer p{
    text-align: left;
}



#contact-link{
    background-color: #A40610;
    border: 1px solid #A40610;
    border-radius: 30px;
    padding: 10px 30px;
}
#portfolio-perfil-button, #contact-perfil-button{
    height: 57px;
    width: 184px;
    padding: 16px auto;
}
#header{
    background-color: #14182d;
    height: 80px;
}
#logo{
    float: left;
}
#image-logo{
    height: 80px;
    padding: 0px;
    margin: 0px;
}
#presentation{
    background-color: #1B203B;
    padding-top: 60px;
    height: 690px;
}
#principal-social-medias {
    width: 640px;
    margin: 0px auto;
}
#principal-social-medias li{
    height: 50px;
    width: 50px;
    margin: 0px 17px;
    display: inline-block;
    border: 3px solid #A40610;
    border-radius: 50%;
    padding: 12px auto;
    transition: 0.1s;
}
#principal-social-medias li:hover{
    background-color: #A40610;
}
#perfil-circular{
    background-color: #C8C8C8;
    width: 268px;
    height: 268px;
    margin: 34px auto;
    border-radius: 50%;
}
#page-title{
    font-size: 40px;
    margin-bottom: 20px;
}
#sub-title{
    font-size: 16px;
    color: #A8A8AA;
    width: 507px;
    margin: 20px auto;
    line-height: 1.5;
}
#button-line{
    margin-top: 38px;
}
#services{
    background-color: #14182D;
    padding: 102px 0px;
}
#services-cards{
    width: 1170px;
    margin: 83px auto;
}
#principal-social-medias img{
    width: 25px;
    height: 25px;
    margin: 12px auto;
}
#about{
    background-color: #1B203B;
    margin: 0px;
    padding-bottom: 120px;
}
#into-about{
    padding: 102px 0px;
}
#about-content{
    width: 1170px;
}
#about-me-image{
    width: 471px;
    height: 530px;
}
#about-content-right{
    width: 669px;
    height: 530px;
}
#about-content-right p{
    text-align: left;
    line-height: 25px;
    color: #A8A8AA;
}
#about-content-right h2{
    text-align: left;
    margin: 52px 0px 52px 0px;
}
#about-content-right ul{
    list-style: none;
    margin-top: 40px;
}
#about-content-right li{
    display: inline-block;
    width: 330px;
    margin-bottom: 30px;

}
li h3{
    text-align: left;
}
li p{
    text-align: left;
}
#portfolio{
    background-color: #14182d;
    height: 1140px;
    padding: 102px 0px;
}
#portfolio li{
    display: inline-block;
    margin: 75px 60px;
}
#portfolio-content{
    width: 1170px;
    margin: 0px auto;
    position: relative;
}
#portfolio .left img{
    width: 770px;
    height: 577.37px;
}
#portfolio .right img{
    width: 370px;
    height: 277.5px;
    display: block;
    margin-bottom: 20px;
}
#portfolio-content button{
    margin-top: 107px;
    padding: 16px 60px;
    position: relative;
}
#contact{
    background-color: #1B203B;
    padding: 102px 0px;
}
#contact-content{
    width: 1170px;
}
#contact .left{
    width: 814px;
}
#contact .left p, #contact .left h2{
    text-align: left;
}
#contact .left p{
    color: #A8A8AA;
    line-height: 25px;
    letter-spacing: 1.3px;
}
#contact .left h2{
    margin-bottom: 18px;
}
#contact .right button{
    font-size: 30px;
    padding: 18px 82px;
    margin-top: 25px;
}
#footer-content{
    width: 1170px;
    margin: 0px auto;
    padding: 60px 0px;
}
#footer-menu{
    float: none;
    margin-top: 70px;
}
#final-title{
    text-align: center;
    margin-top: 40px;
    color: #606060;
}
footer img{
    width: 30px;
}
footer .right li{
    display: inline;
    margin: 15px 0px;
    margin-right: 27px;
}
footer .right ul{
    float: none;
    margin-top: 15px;
}




.floating{
    width: 1170px;
    position: absolute;
}
.left{
    float: left;
}
.right{
    float: right;
}
.transparent-button{
    background-color: rgba(000, 000, 000, 0%);
}
.red-button{
    background-color: #A40610;
}
.red-text-title{
    color: #A40610;
    font-size: 16px;
}
.wight-text-title{
    font-size: 30px;
    margin: 8px auto;
    line-height: 42px;
}
.grey-text-resume{
    color: #A8A8AA;
    margin: 0px auto;
    margin-bottom: 33px;
    width: 649.72px;
    line-height: 25px;
}
.line-red{
    border: 1px solid red;
    width: 57px;
    margin: 0px auto;
}
.service-card{
    display: inline-block;
    background-color: #1B203B;
    width: 363px;
    height: 388px;
    margin: 14px 10px;
    text-align: left;
}
.service-card-image{
    width: 57px;
    height: 57px;
    margin: 23px 0px 0px 23px;
}
.service-card-title{
    font-size: 25px;
    text-align: left;
    width: 315px;
    margin-top: 25px;
}
.service-card-text{
    text-align: left;
    color: #A8A8AA;
    width: 315px;
    margin: 50px auto;
    line-height: 30px;
}
.portfolio-button{
    background-color: transparent;
    border: none;
    border-radius: none;
    margin: 0px;
}
.portfolio-button:visited{
    border: none;
}